<!DOCTYPE html>
<html>
  <head>
    <% include include/header %>
  </head>
  <body>
    <div class="container page-top">
      <header class="main-img align-c m-t-m m-b-l">
        <a href="/"><img src="/img/logo.png" alt="最強萌えキャラメーカー" width="324" height="129" class="m-b-s"></a>
      </header>

      <section class="sec-progress m-b-m">
        <h1 class="m-b-s">ただいま:50%終了</h1>
        <div class="wrap-progress">
          <div class="bar" style="width:50%;"></div>
        </div>
      </section>

      <section class="sec-selection m-b-l">
        <h1 class="m-b-l title-type1">あなたの好きな<%= categoryName %>は?</h1>
        <div id="js-category-id" class="d-none"><%= categoryId %></div>
        <div id="js-category-name" class="d-none"><%= categoryName %></div>
        <div class="list">
          <ul class="list cf">
            <% entries.forEach(function(item) { %>
            <li class="js-item" data-item-id="<%= item.entryId %>" data-item-entry="<%= item.entry %>">
              <span class="check"></span>
              <%= item.entry %>
            </li>
            <% }) %>
          </ul>
        </div>
      </section>

      <% if (isLast) { %>
      <div id="js-btn-next" class="btn-type1" data-is-last="1">完了</div>
      <% } else { %>
      <div id="js-btn-next" class="btn-type1">次へ</div>
      <% } %>

      <section id="js-tutorial" class="tutorial js-hide">
        <section id="js-tutorial-section1" class="section1">
          <h1 class="align-c">
            <img class="logo" src="/img/logo.png" alt="">
          </h1>
          <p class="align-c m-b-l">※やや腐向け・ややR18</p>
          <div id="js-btn-tutorial-next" class="btn-type1">いいよ</div>
        </section>
        <section id="js-tutorial-section2" class="js-hide section2">
          <header class="m-b-l">
            <h1 class="txt-l">遊び方<span class="txt-s"> - 俺的最強萌えキャラをつくるよ -</span></h1>
          </header>
          <ol class="m-b-l">
            <li>えらんで</li>
            <li>くらべて</li>
            <li>結果をみよう</li>
          </ol>
          <div id="js-btn-tutorial-end" class="btn-type1">おっぱじめる</div>
        </section>
      </section>

      <% include include/footer %>
    </div>
    <!-- /.container END -->
    <% include include/script %>
    <div id="js-overlay" class="overlay js-hide"></div>
    <script src="js/tutorial.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
