<!DOCTYPE html>
<html>
  <head>
    <% include include/header %>
  </head>
  <body>
    <div class="container page-top">
      <header class="row header m-b-m">
          <h1 class="h6">最強萌えキャラメーカー</h1>
      </header>

      <div class="main-img align-c">
        <img src="/img/logo.png" alt="" width="308" height="169">
      </div>

      <section class="sec-progress m-b-m">
         TODO:ここに進捗を出す
      </section>

      <section class="sec-selection m-b-l">
        <h2 class="m-b-l title-type1">あなたの好きな<%= categoryName %>は?</h2>
        <div id="js-category-id" class="d-none"><%= categoryId %></div>
        <div id="js-category-name" class="d-none"><%= categoryName %></div>
        <div class="list">
          <ul class="list cf">
            <% entries.forEach(function(item) { %>
            <li class="js-item" data-item-id="<%= item.entryId %>" data-item-entry="<%= item.entry %>">
              <span class="check"></span>
              <%= item.entry %>
            </li>
            <% }) %>
          </ul>
        </div>
      </section>

      <% if (isLast) { %>
      <div id="js-btn-next" class="btn-type1" data-is-last="1">完了</div>
      <% } else { %>
      <div id="js-btn-next" class="btn-type1">次へ</div>
      <% } %>

      <% include include/footer %>
    </div>
    <% include include/script %>
    <script src="js/index.js"></script>
  </body>
</html>
