<!DOCTYPE html>
<html>
  <head>
    <% var title = "オレモエ"; %>
    <% include include/header %>

    <% /* OGP関連 */ %>
    <meta property="og:site_name" content="オレモエ">
    <meta property="og:url" content="http://oremoe.herokuapp.com/">
    <meta property="og:title" content="オレモエ">
    <meta property="og:type" content="article">
    <meta property="og:image" content="http://oremoe.herokuapp.com/img/card.png">
    <meta property="og:description" content="好きな要素を選んで比べて、Ｍｙ萌え要素詰め込みキャラを作ろう！">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://oremoe.herokuapp.com">
    <meta name="twitter:title" content="オレモエ">
    <meta name="twitter:description" content="好きな要素を選んで比べて、Ｍｙ萌え要素詰め込みキャラを作ろう！">
    <meta name="twitter:image" content="http://oremoe.herokuapp.com/img/card.png">
  </head>
  <body>
    <div class="container page-top">
      <header class="main-img align-c m-t-m m-b-l">
        <a href="/"><img src="/img/logo.png" alt="最強萌えキャラメーカー" width="324" height="129" class="m-b-s"></a>
      </header>

      <section class="sec-progress m-b-m">
        <h1 class="m-b-s txt-bold">到達度合い:<%= percentage %>%</h1>
        <div class="wrap-progress">
          <div class="bar" style="width:<%= percentage %>%;"></div>
        </div>
        <% if (percentage <= 33) { %>
        <img id="js-btn-tutorial-reopen" class="img-neko" src="/img/ahe/0.png" alt="ヘルプ" width="40" height="40">
        <img class="img-serifu serifu1" src="/img/serifu/0.png" alt="ヘルプ" width="60" height="51">
        <% } else if(percentage <= 66) { %>
        <img class="img-neko" src="/img/ahe/1.png" alt="んっ" width="40" height="40">
        <img class="img-serifu serifu1" src="/img/serifu/1.png" alt="んっ" width="60" height="53">
        <% } else if(percentage <= 99) { %>
        <img class="img-neko" src="/img/ahe/2.png" alt="らめぇええ" width="40" height="40">
        <img class="img-serifu serifu2" src="/img/serifu/2.png" alt="らめぇええ" width="48" height="60">
        <% } else if(percentage == 100) { %>
        <img id="js-neko3" class="img-neko neko3" src="/img/ahe/3.png" alt="お゛ほぉおおおおおおおお" width="40" height="40">
        <img class="img-serifu serifu3" src="/img/serifu/3.png" alt="・・・" width="47" height="60">
        <% } %>
      </section>

      <section class="sec-selection m-b-l">
        <h1 class="m-b-xl title-type1"><span class="category">「<%= categoryName %>」</span> <span class="">〜本能のままに選んでね〜</span></h1>
        <div id="js-category-id" class="d-none"><%= categoryId %></div>
        <div id="js-category-name" class="d-none"><%= categoryName %></div>
        <div class="list">
          <ul class="list cf">
            <% entries.forEach(function(item) { %>
            <li class="js-item" data-item-id="<%= item.entryId %>" data-item-entry="<%= item.entry %>">
              <span class="check"></span>
              <%= item.entry %>
            </li>
            <% }) %>
          </ul>
        </div>
      </section>

      <% if (isLast) { %>
      <div id="js-btn-next" class="btn-type1" data-is-last="1">完了</div>
      <% } else { %>
      <div id="js-btn-next" class="btn-type1">次へ</div>
      <% } %>

      <section id="js-tutorial" class="tutorial js-hide">
        <section id="js-tutorial-section1" class="section1">
          <h1 class="align-c">
            <img class="logo" src="/img/logo.png" alt="">
          </h1>
          <p class="align-c m-b-l">※やや腐向け・ややR18</p>
          <div id="js-btn-tutorial-next" class="btn-type1">いいよ</div>
        </section>
        <section id="js-tutorial-section2" class="js-hide section2">
          <header class="m-b-l">
            <h1 class="txt-l">説明<span class="txt-s"> - 俺的最強萌えキャラをつくるよ -</span></h1>
          </header>
          <ol class="m-b-l">
            <li>ひたすら出てくる萌え要素の中から<br>何個でも本能のままに好きな項目を選んでね</li>
            <li>選んだ萌え要素を比べて最萌え要素を決めるよ</li>
            <li>俺的最強萌えキャラの完成！<br>↓<br>あなたの萌えはメジャーorマイナー!?</li>
          </ol>
          <div id="js-btn-tutorial-end" class="btn-type1">おっぱじめる</div>
        </section>
      </section>

      <% include include/footer %>
    </div>
    <!-- /.container END -->
    <div id="js-loading" class="loading">
        <% if (percentage <= 33) { %>
        <img src="/img/ahe/0.png" alt="ローディング" width="40" height="40">
        <% } else if(percentage <= 66) { %>
        <img src="/img/ahe/1.png" alt="ローディング" width="40" height="40">
        <% } else if(percentage <= 99) { %>
        <img src="/img/ahe/2.png" alt="ローディング" width="40" height="40">
        <% } else if(percentage == 100) { %>
        <img src="/img/ahe/3.png" alt="ローディング" width="40" height="40">
        <% } %>
    </div>
    <div id="js-overlay" class="overlay js-hide"></div>

    <% include include/script %>
    <script src="js/tutorial.js"></script>
    <script src="js/index.js"></script>
    <% include include/analytics %>
  </body>
</html>
