<!DOCTYPE html>
<html lang="ja">
  <head>
    <% var title = namesStr + " | オレモエ"; %>
    <% include include/header %>
    <meta name="description" content="私は<%- namesStr %>が好き。 | オレモエ">
    <meta name="keywords" content="<%- keywords %>,オレモエ,俺萌え">

    <% /* OGP関連 */ %>
    <meta property="og:site_name" content="オレモエ">
    <meta property="og:url" content="<%- url %>">
    <meta property="og:title" content="私は<%- namesStr %>が好き。 | オレモエ">
    <meta property="og:type" content="article">
    <meta property="og:image" content="http://oremoe.herokuapp.com/img/card.png">
    <meta property="og:description" content="私は<%- namesStr %>が好き。">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="<%- url %>">
    <meta name="twitter:title" content="私は<%- namesStr %>が好き。 | オレモエ">
    <meta name="twitter:description" content="私は<%- namesStr %>が好き。">
    <meta name="twitter:image" content="http://oremoe.herokuapp.com/img/card.png">

    <link rel="canonical" href="<%- url + seoWordsForUrl %>">
  </head>
  <body>
    <div class="container page-top">
      <header class="align-c m-t-m m-b-l">
        <h1>
          <a href="/"><img src="/img/logo.png" alt="オレモエ" width="324" height="129" class="m-b-s"></a>
        </h1>
      </header>

      <section class="sec-result m-b-xl">
        <h1 class="title-type2 m-b-l">あなたの最強萌え要素は...</h1>
        <p class="txt-result m-b-m"><%- names %>です。</p>
        <div class="social-btns align-r">
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%- url %>" data-text="私の最強萌えキャラは<%- namesStr %>です。<%- aori %> #オレモエ">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </section>

      <section class="sec-pixiv-image m-b-xl">
        <h1 class="title-type1 m-b-l">あなたの好みの画像は...</h1>
        <div class="wrap-img">
          <% if (pixivImage === "") { %>
            <p>見つかりませんでした。</p>
          <% } else { %>
            <a href="<%- pixivUrl %>" target="_blank"><img id="js-img-pixiv" class="img-pixiv-loading" src="/img/ahe/0.png" data-src="<%- pixivImage %>" /></a>
            <div id="js-text-pixiv-loading" class="text-pixiv-loading">読み込み中</div>
          <% } %>
        </div>
      </section>

      <section class="sec-graph">
        <h1 class="title-type1 m-b-l">あなたの好みは...</h1>
        <div class="wrap-graph">
          <div class="pointer" style="left:<%=moerate%>%"></div>
          <span class="label txt-mejor">メジャー</span>
          <span class="label txt-minor">マイナー</span>
        </div>
        <p class="hitokoto"><%- aori %></p>
      </section>

      <% if (0) { %>
      <div class="align-c m-b-l">
        <a href="/">
          <img src="/img/next.png" alt="" width="144" height="49">
        </a>
        <p class="txt-s">ランキングへ</p>
      </div>
      <% } %>

      <% include include/footer %>
    </div>
    <% include include/script %>
    <script src="/js/moe_result.js"></script>
    <% include include/analytics %>
  </body>
</html>
